@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


form {
  max-width: 500px;
  text-align: center;
  margin: 20px auto;
}
form input, form textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: monospace, 'Noto Sans', 'PT Sans', sans-serif;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}
form input:focus, form textarea:focus {
  -moz-box-shadow: 0 0px 2px #e74c3c !important;
  -webkit-box-shadow: 0 0px 2px #e74c3c !important;
  box-shadow: 0 0px 2px #e74c3c !important;
}
form #input-submit {
  color: white;
  background-color: #162447;
  cursor: pointer;
  transition: all 0.4s;
}
form #input-submit:hover {
  transform: scale(1.01);
  background-color: #1e3266;
}
form textarea {
  height: 126px;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}
/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

/* **************************** GLOBAL SECTION **************************** */
/* DARK COLOR PALETTE
Dark blue (almost black): #1b1b2f
Dark blue (not that dark): #162447
Blue (kind of greyish): #1f4068
Red: #e43f5a */
html, body {
  height: 99%;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 28px;
  background-color: #303044;
  padding: 110px 50px 0 50px;
  margin-bottom: 1000px;
  color: #f1eaea;
  font-family: monospace, 'Noto Sans', 'PT Sans', sans-serif;
  font-size: 15px;
}
::selection {
  background-color: #457fc5;
}

h1 {
  font-size: 45px;
  line-height: 45px;
  color: #f1eaea;
}
h2 {
  font-size: 33px;
  color: #f1eaea;
}
h1, h2 {
  transition: all 0.6s
}
h1:hover, h2:hover {
  transform: scale(1.01)
}
.not-visible {
  display: none;
}

.not-h1 {
  padding: 25px;
  background-color: #db3450;
  border-radius: 20px;
  transition: all 0.7s;
  box-shadow: 0 8px 16px 0 rgba(10, 10, 10, 0.11), 0 12px 40px 0 rgba(10, 10, 10, 0.123);
}
.not-h1:hover {
  background-color: #db3f59;
}


#navbar {
  display: flex;
  justify-content: center;
  list-style-type: none;
  position: absolute;
  top: 0;
  color: #f1eaea;
  
}
#navbar li {
  padding: 30px;
  transition: transform 0.2s;
}
#navbar li:hover {
  transform: scale(1.3)
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}
/* **************************** MAIN SECTION **************************** */
#main-container {
  display: grid;
  grid-template-areas: 
  'name photo'
  'title title'
  'paragraph paragraph';
  justify-items: center;
  align-items: center;
  opacity: 0;
  transform: scale(0);
  transition: .5s ease opacity, .5s ease transform;
}
#main-img {
  width: 290px;
  border-radius: 100%;
  grid-area: photo;
  box-shadow: 0 8px 16px 0 rgba(10, 10, 10, 0.11), 0 12px 40px 0 rgba(10, 10, 10, 0.123);
}
#main-container h1 {
  grid-area: name;
}
#main-container h2 {
  padding-top: 40px;
  grid-area: title;
  justify-self: center;
}
#main-container p {
  grid-area: paragraph;
  transition: background-color 0.7s, border-radius 0.7s;
  padding: 10px;
  background-color: #db3450;
  border-radius: 20px;
}
#main-container p:hover {
  background-color: #db3f59;
}
/* **************************** PROJECTS SECTION **************************** */
#projects-container {
  padding: 0 0 40px 0;
  opacity: 0;
  transform: scale(0);
  transition: .5s ease opacity, .5s ease transform;
}
/* **************************** EXPERIENCE SECTION **************************** */
#experience-container {
  padding: 0 0 40px 0;
  opacity: 0;
  transform: scale(0);
  transition: .5s ease opacity, .5s ease transform;
}
/* **************************** SKILLS SECTION **************************** */
#skills-container {
  padding: 0 0 40px 0;
  opacity: 0;
  transform: scale(0);
  transition: .5s ease opacity, .5s ease transform;
}

#skills-container ul {
  background-color: #ca2d47;
  border-radius: 20px;
  padding: 40px;
}
#skills-container h2 {
  color: #1b1b2f;
}
/* **************************** CONTACT SECTION **************************** */
#contact-container {
  opacity: 0;
  transform: scale(0);
  transition: .5s ease opacity, .5s ease transform;

  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact-container h2 {
  color: #1b1b2f;
}
#contact-container ul {
  display: flex;
  list-style: none;
}
#contact-container ul li {
  padding: 30px;
  transition: transform 0.3s;
}
#contact-container ul li:hover {
  transform: scale(1.18);
}
#social-links img{
  width: 80px;
  filter: invert(.95);
}


